<div class="container">
  <div class="login-wrapper">
    <div class="image-section">
      <img src="/assets/login/login_img.png" alt="Login Image" class="login-image">
    </div>

    <div class="form-section">
      <h1 class="text-gray-300 font-extrabold text-[48px] text-align:center">Iniciar sesión</h1>
      <form class="login-form">
        <div class="form-group">
          <label class="text-gray-300" for="username">Correo electrónico o teléfono</label>
          <input
            type="text"
            style="font-size: 1em"
            class="form-control text-gray-300"
            id="username"
            placeholder="Ingresa tu usuario"
            [(ngModel)]="username"
            name="username"
            required>
        </div>

        <div class="form-group">
          <label class="text-gray-300" for="password">Contraseña</label>
          <input
            type="password"
            class="form-control text-gray-300"
            id="password"
            placeholder="Ingresa tu contraseña"
            [(ngModel)]="password"
            name="password"
            required>
        </div>

        <button type="submit" class="btn btn-primary" (click)="onSubmit()">Ingresar</button>

        <div class="register-link">
          <label class="text-gray-300">¿No tienes cuenta? <a routerLink="/register" class="register-text">Regístrate</a></label>
        </div>
      </form>
    </div>
  </div>
</div>
