<div class="max-w-full h-screen flex">
  <div class="login-wrapper flex w-full h-full flex-row overflow-hidden">
    <div class="image-section h-full max-w-[50%] min-w-[200px] flex-shrink-0">
      <img
        ngSrc="/assets/login/login_img.png"
        alt="Login Image"
        class="h-full w-full object-cover"
        height="940"
        width="627"
      />
    </div>

    <div
      class="form-section flex-1 flex flex-col justify-center mx-36 max-md:mx-2.5"
    >
      <h1 class="text-gray-300 font-extrabold text-5xl text-center mb-5">
        Iniciar sesión
      </h1>
      <form
        class="login-form dark:bg-[#384959] border border-[#122b45] rounded-lg p-5"
        (ngSubmit)="onSubmit()"
        #loginForm="ngForm"
      >
        <div class="form-group mb-9">
          <label class="block mb-2 text-gray-300 font-bold" for="email">Correo electrónico</label>
          <input
            type="email"
            class="form-control w-full p-2 text-gray-300 border border-[#88BDF2] rounded-lg bg-transparent placeholder-blue-200 text-base"
            id="email"
            placeholder="Ingresa tu correo"
            [(ngModel)]="email"
            name="email"
          />
        </div>

        <div class="form-group mb-9">
          <label class="block mb-2 text-gray-300 font-bold" for="password">Contraseña</label>
          <input
            type="password"
            class="form-control w-full p-2 placeholder-blue-200 border border-[#88BDF2] rounded-lg bg-transparent"
            id="password"
            placeholder="Ingresa tu contraseña"
            [(ngModel)]="password"
            name="password"
          />
        </div>

        <button
          type="submit"
          class="w-full py-2.5 bg-blue-600 text-white rounded-lg hover:bg-blue-700 transition-colors"
          [disabled]="!loginForm.valid"
        >
          Ingresar
        </button>

        <div
          *ngIf="errorMessage"
          class="text-red-600 text-center mt-2 border-white"
        >
          {{ errorMessage }}
        </div>

        <div class="register-link mt-2.5 text-center">
          <label class="text-gray-300"
            >¿No tienes cuenta?
            <a routerLink="/register" class="text-blue-400 hover:underline"
              >Regístrate</a
            ></label
          >
        </div>
      </form>
    </div>
  </div>
</div>
