<section class="listing">
    <a href="">
        <img class="listing-photo" src="examplehouse.jpeg" alt="House">
    </a>
    <a href="" style="text-decoration: none">
        <h2 class="listing-heading">{{ propertySummary.title }}</h2>
    </a>
    <p class="listing-info">${{ propertySummary.price }}</p>
    <p class="listing-info">
        {{ propertySummary.street }} {{ propertySummary.house_number }}, {{ propertySummary.neighborhood }}, {{ propertySummary.zip_code }}, {{ propertySummary.city }}, {{ propertySummary.state }}
    </p>
    <div class="amenities-container">
        <p class="rooms-number">Habitaciones: {{ propertySummary.n_rooms }}</p>
        <p class="bathrooms-number">Baños: {{ propertySummary.n_bathrooms }}</p>
        <p class="sqm">Tamaño: {{ propertySummary.sqm }}m²</p>
    </div>
</section>
