header {
    display: flex;
    align-items: center;
    height: 68px;
    /* padding: 20px; */
    background-color: var(--primary-color);
}

.brand-name {
    color: white;
    font-style: none;
    text-decoration: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}