header {
  background-color: var(--primary-color);
}

footer {
  background-color: var(--primary-color);
}

.brand-name {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.access-buttons {
  background-color: var(--secondary-color);
}
