<main class="bg-white dark:bg-gray-900 min-h-screen">
  <header class="flex items-center h-16">
    <a [routerLink]="['/']" class="brand-name text-2xl text-white ml-8">
      Inmobify
    </a>

    <!-- Normal -->
    <nav class="hidden md:flex items-center w-full gap-3 ml-8 mr-8">
      <a class="text-white hover:text-blue-600" [routerLink]="['/']"
        >Sobre nosotros</a
      >

      <div class="flex gap-3 ml-auto">
        <button
          type="button"
          class="py-3 px-6 text-white cursor-pointer text-base rounded-xl access-buttons"
        >
          Publicar
        </button>
        <button
          type="button"
          [routerLink]="['/login']"
          class="py-3 px-6 mr-2 text-white cursor-pointer text-base rounded-xl access-buttons"
        >
          Acceder
        </button>
      </div>
    </nav>

    <!-- mobile -->
    <nav class="flex md:hidden items-center gap-6 ml-auto mr-4">
      <button type="button" class="text-2xl text-white cursor-pointer">
        <i class="fas fa-plus"></i>
      </button>
      <button
        type="button"
        [routerLink]="['/register']"
        class="text-2xl text-white cursor-pointer"
      >
        <i class="fa-solid fa-right-to-bracket"></i>
      </button>
      <button
        type="button"
        class="text-2xl text-white cursor-pointer menu-toggle"
      >
        <i class="fas fa-bars"></i>
      </button>
    </nav>
  </header>
  <section>
    <router-outlet></router-outlet>
  </section>
</main>
