/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    padding: 0;
}

:root {
    --border-radius: 12px;
    --primary-color: #122B45;
    --secondary-color: #0C70DA;
}