<section class="search-bar">
  <form (submit)="onSubmit($event, searchTerm)">
    <input
      type="text"
      style="font-size: 1em"
      placeholder="Busca una ciudad"
      [(ngModel)]="searchTerm"
      (input)="onSearch()"
      name="search"
    />
    <button
      class="primary"
      style="font-size: 1em"
      type="button"
      (click)="filterResults(searchTerm)"
    >
      Buscar
    </button>
    <button style="font-size: 1em" type="button">Ver mapa</button>
  </form>
  <!-- Suggestion List -->
  <ul *ngIf="filteredCities.length > 0" class="autocomplete-list">
    <li *ngFor="let city of filteredCities" (click)="selectCity(city)">
      {{ city }}
    </li>
  </ul>
</section>
<section class="type-filters">
  <ul>
    <li>Todos</li>
    <li>Casas</li>
    <li>Departamentos</li>
    <li>Locales comerciales</li>
  </ul>
</section>
<section class="results">
  <app-property-card
    *ngFor="let propertySummary of propertyList"
    [propertySummary]="propertySummary"
  ></app-property-card>
</section>
