.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 16px 0 0 0;
}

.search-bar form {
    display: flex;
    align-items: center;
    width: 85%;
    max-width: 560px; 
}

input[type="text"] {
    flex: 1;
    border: solid 2px;
    border-color: #ccc;
    padding: 15px;
    border-radius: var(--border-radius);
    margin-right: 4px;
}

button {
    padding: 15px;
    border: solid 1px;
    color: white;
    background-color: slategrey;
    border-radius: var(--border-radius);
    cursor: pointer;
}

.autocomplete-list {
    list-style: none;
    padding: 0;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: var(--border-radius);
    background: white;
    max-width: 560px;
    position: absolute;
    z-index: 1000;
}

.autocomplete-list li {
    padding: 10px;
    cursor: pointer;
}

.autocomplete-list li:hover {
    background-color: #f0f0f0;
}

.type-filters {
    display: flex;
    justify-content: center;
    margin: 1em;
}

ul {
    display: flex;
    gap: 10px;
    width: 50%;
    list-style: none;
    justify-content: space-around;
}

.results {
    margin: 0 60px 60px 60px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 400px));
    justify-content: space-around;
    row-gap: 18px;
}